@use 'base/variables' as v;
@use 'base/mixins' as m;

.section2{
    text-align: center;
    padding: 0 2rem;
    position: relative;
    @include m.tablet { 
        margin:0 auto;
        padding: 2rem;
    }

    h1{
        @include m.tablet { 
            font-size:8rem;
            margin-bottom: 17rem;
        }
    }
    .contenido{


        @include m.tablet { 
            /* display: grid;
            grid-template-columns: .5fr 1fr; */
            display: flex;
            padding: 0 6rem;
            width: 58%;
        }
        @include m.desktop { 
            width:55%;
        }
        @include m.tabletMediana { 
            flex-direction:column;
        }

        h4{
            font-size: 3rem;
            text-align: left;
            margin: 0;
        }
        .content{

            display: flex;
            flex-direction: column;
            row-gap: 2rem;

            @include m.tablet { 
                margin-left:10rem;
            }
            @include m.tabletMediana { 
                margin-left:0;
            }
            div{
                margin: 0 auto;
                width: 100%;
                padding: 0 1rem;
                border:1px solid gray;
                box-shadow: 0 0 10px gray;
                transition: transform 1s;
                margin-top: 1rem;
                margin-bottom: 2rem;
                @include m.tablet { 
                    display:flex;
                    gap: 1rem;
                    padding:0 2rem ;
                    align-items: center;
                }

                &:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }

            h2{
                color:v.$primario ;
            }
            p{
                text-align: left;
            }

        }

        .imagen{
            margin-top: v.$separacion;
            @include m.tablet { 
                position: absolute;
                z-index: 1;
                width: 41rem;
                top: 18rem;
                right: 9rem;
                margin-top: 7rem;
                margin-right: 10rem;
            }
            @include m.desktop { 
                margin-top:13rem;
            }
            @include m.tabletMediana { 
                all: unset;
            }
        }

        /* .imagen{
            width: 100%;
            height: 80rem;
            background-image: url('/build/img/app_3.svg');
            background-repeat:no-repeat ;
            background-size: 100%;
            background-position:center;

            @include m.tablet { 
                max-width: 100%;
                height:45rem;
                background-size:46rem;
            }
        } */
    }
}